*.gpkg filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
.git/objects/9c/a1d2bde8442e34f2a92221f80cbf06c3847215 filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-7da3ee5617be24b3cf0461afc59d139f57c4d12b.pack filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/50/55/505503c1c41f19f7c9cf25947fc4491a96981be932970c63edaac7cb8c11ff7c filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/f4/fc/f4fcc2343d71b81f19ad38430d8b87d3b800f4c701c2d675ed04a3774d3ef1ff filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/ee/c5/eec540caa2040b1a6dc0456bdcddfa538789830166a4adf6d2567f8ea8978db3 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/28/66/286604ccb295ac35a6b93abdea8a0353a79117b452ea8e15e8118af9f2a511a5 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/19/1b/191b7358b44f8db0a93c39a3567d93f32df6d91464263594e05a5b4cc6dc723f filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/43/a4/43a449d21bf672739bfde0a0044026773a2f3fd74d0b1250eb737b55d7b95f76 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/31/7d/317d5daea7a956cd369bbbf1ab2225099f2ec825da02dfa9284d03276f664bde filter=lfs diff=lfs merge=lfs -text
data/islands/global_islands_db/mainland.gpkg filter=lfs diff=lfs merge=lfs -text
data/islands/global_islands_db/small_islands.gpkg filter=lfs diff=lfs merge=lfs -text
data/islands/global_islands_db/big_islands.gpkg filter=lfs diff=lfs merge=lfs -text
data/ntl/ntl.tif filter=lfs diff=lfs merge=lfs -text
data/case_selection/data_base_clean.xlsx filter=lfs diff=lfs merge=lfs -text
data/case_selection/case_selection_and_literature.xlsx filter=lfs diff=lfs merge=lfs -text
data/case_selection/data_base_clean_2.xlsx filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/62/10/6210103ea26d1b3e1c00036814257fda208a77597b3599844ce1bc09e89201df filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/b7/b5/b7b5d0a5bafbd68f64deda3fa733c20efb937fd519cdc38d6a5a05bab0845817 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/fa/1c/fa1cd2d76a6339c07502b05a16c33e91932f7902a91b42b1a4fef9fd3d211849 filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-1025b3f306be7f80d02106a06a498cd6ed86f728.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-07336360ed10ff7b7fd852434a74558dba902b58.pack filter=lfs diff=lfs merge=lfs -text
